.home{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.home-main-logo{
    width: 35%;
    height: auto;
}

.home-text{
    width: 70%;
    margin-top: 2em;
    color: var(--color-primary);
}